.containerNavBarCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a6a8ab;
}

.containerNavBarCategory ul {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

li {
  margin: 10px;
  list-style-type: none;
  margin-block: auto;
}
li a {
  font-size: medium;
  color: #000000;
}
.active {
  color: #4c7cff;
}
.nav-item {
  text-align: left;
}
.navCategoryContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  margin-left: 40px;
}
.iconContainer {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  justify-content: center;
  width: 150px;
}
