.CartContainer {
  padding: 10px;
}
.ContainerCart {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.ContainerItemCart {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.ContainerDelete {
  display: flex;
}

.ContainerName {
  display: flex;
}
.ContainerCartItem {
  display: flex;
  align-items: center;
  background-color: #a6a8ab36;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  justify-content: space-between;
}
.EmptyCart {
  justify-content: end;
  padding: 10px;
  margin: 20px;
}
