.containerNavCategory {
  display: flex;
}
.containerProductPage-category {
  display: grid;
}

/* Columns */
.left-column-category {
  margin-top: 30px;
  position: relative;
  text-align: left;
  margin-left: 50px;
}

.right-column-category {
  width: 100%;
}
