.ContainerItemDetail {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
  background: #fff;
}

.flexbox-container > div:first-child {
  margin-right: 10px;
}
