.containerNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4c7cff;
}

.containerNavBar ul {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.containerNavBar li {
  margin: 10px;
  list-style-type: none;
  margin-block: auto;
}
.containerNavBar li a {
  font-size: medium;
  color: #000000;
}
.active {
  color: white;
}
