.containerNavBar {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: #C0C0C0;
  }
  
  .containerNavBar ul {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  li {
    margin: 10px;
    list-style-type: none;
  }
  li a{
    font-size: small;
    color:#000000;
    }