.ItemCountContainer {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.CounterSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
}